/* UTILITY */
.bg-green{
    background-color: #1ABC9C;
}

.bg-blue{
    background-color: #3A546D;
}

.bg-navy{
    background-color: #2C3E50;
}

/* uppercase */
.hero_image,
h2{
    text-transform: uppercase;
}

/* SITE HEADER */
/* nav */
.fa-bars{
    font-size: 25px;
}

/* hero image */
.hero_image img{
    width: 200px;
}

.fa-star{
    font-size: large;
}

.star_icon_white::after, .star_icon_white::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: white;
}

.star_icon_black::after, .star_icon_black::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: black;
}

/* SITE MAIN */
/* portfolio section */
.card_img img{
    width: 100%;
}

/* about section */
.about{
    height: 400px; /* altezza fissa da togliere */
}

.about_text{
    height: 150px; /* altezza fissa da togliere */
}

/* SITE FOOTER */
.text_footer{
    height: 150px; /* altezza fissa da togliere */
}