/* UTILITY */
.bg-green{
    background-color: #1ABC9C;
}

.text_green{
    color: #1ABC9C;
}

.bg-blue{
    background-color: #3A546D;
}

.bg-navy{
    background-color: #2C3E50;
}

.text_navy{
    color: #2C3E50;
}

.hero_image,
h2,
h5{
    text-transform: uppercase;
}

/* SITE HEADER */
/* nav */
.fa-bars{
    font-size: 25px;
}

/* hero image */
.hero_image img{
    width: 200px;
}

.fa-star{
    font-size: large;
}

.star_icon_white::after, .star_icon_white::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: white;
}

.star_icon_black::after, .star_icon_black::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: #2C3E50;
}

/* SITE MAIN */
/* portfolio section */
.card_img img{
    width: 100%;
}

/* about section */
.about p{
    font-size: 1.2rem;
}

/* SITE FOOTER */
.icon_lg{
    font-size: 1.5rem;
}

.fa-facebook-f{
    padding: 10px 15px;
}

.fa-google-plus-g{
    padding: 10px 8px;
}

.fa-twitter{
    padding: 10px 10px;
}

.fa-linkedin-in{
    padding: 10px 12px;
}

@media screen and (min-width: 768px) and (max-width:991.98px){
    .text_footer .address{
        font-size: 14px;
    }
}